name: Update Helm Chart

on:
  push:
    branches: [main]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Update Helm values with new image tag
      run: |
        IMAGE_TAG=${{ github.sha }}
        sed -i "s|tag: .*|tag: \"$IMAGE_TAG\"|g" chart/ids-api/value.yaml

    - name: Commit changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git commit -am "Update image tag to $IMAGE_TAG" || echo "No changes"
        git push || echo "No changes to push"
