name: Update Helm Chart

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Update Helm values with new image tag
      run: |
        sed -i "s|tag: .*|tag: \"${{ inputs.image_tag }}\"|g" charts/ids-api/values.yaml

    - name: Commit changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add charts/ids-api/values.yaml
        git commit -m "Update image tag to ${{ inputs.image_tag }}" || echo "Nothing to commit"

    - name: Push changes
      run: |
        git push || echo "No changes to push"
